
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="Restocker.css"/>
</head>

<style>
    #navbar-div{
        font-size: 20px;
        justify-content: flex;
        background-color: orange;
    }
    form{
        width: 70%;
        font-size: 20px;
        display: inline-block;
        color: orange;
        margin: 10px;
    }
</style>

<body background="Restocker.jpg">
    <div id="navbar-div">
        <form action = "/logout" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>

    <div class="center">
        <p>STORE INVENTORY MANAGEMENT</p>
    </div><br>
    <div class="center2">
        <p>RESTOCKER SECTION</p>
    </div><br>
    <div class = "form-page">
        <h3> Click the button below to view items </h3>     
        <form action="/restock_view_item" method="post">
            <input type = "Submit" value="View Items">
        </form>
        <br>
    <div class = "form-page2">
        <h3> Click the button below to view Notifications </h3>     
        <form action="/restock_view_notif" method="post">
            <input type = "Submit" value="View Notifications">
        </form>
        <br>
    <div class="Order">
        <fieldset>
        <h2> Order Placement </h2>
        <form action="/place_ord" method="post">
            <label for="itemID">Item ID:</label><br>
            <input type="text" id="itemID" name="itemID"><br>
            <label for="quantity">Quantity to Add:</label><br>
            <input type="text" id="quantity" name="quantity"><br><br>
            <input type="submit" value="PLACE ORDER">
        </form>
        </fieldset>
    </div>
</body>
</html>